/*.*
!wp-config*
!.gitignore
wp-includes/*
wp-admin/*
wp-content/*
!wp-content/themes/ted-and-tone/
!wp-content/plugins/
/sitemap.*
*.sql

*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*

.htaccess
docker-compose.yml