/*.*
!wp-config*
!.gitignore
wp-includes/*
wp-admin/*
wp-content/themes/twenty*
wp-content/upgrade
wp-content/uploads
wp-content/index.php
/sitemap.*
*.sql

*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*

.htaccess
docker-compose.yml