{% block site_head %}
	{% embed 'includes/site-head.twig' %}
		{% block head %}
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block header %}
{% endblock %}

<body>

	{% block body %}
	{% endblock %}

	{% block footer %}
		{% embed 'includes/footer.twig' %}
		{% endembed %}
	{% endblock %}

	{{function('wp_footer')}}

</body>
