{% block site_head %}
	{% embed 'includes/site-head.twig' %}
		{% block head %}
		{% endblock %}
	{% endembed %}
{% endblock %}

<body class="body">
	
	<div class="site">
		
		<header class="header site__header">
			{% embed 'includes/header.twig' %}
			{% endembed %}
			{% block header %}
			{% endblock %}
		</header>

		<main class="main site__main">
			{% block main %}
			{% endblock %}
		</main>
		
		<footer class="footer site__footer">
			{% embed 'includes/footer.twig' %}
			{% endembed %}
			{% block footer %}
			{% endblock %}
		</footer>

	</div>

	{{function('wp_footer')}}

	{% if user_logged_in %}
		<style>
			html{
				/* override on WP admin-bar styles */
				margin-top: 0 !important;
			}
		</style>
	{% endif %}

</body>