{% extends "layouts/site-maintenance.twig" %}

{% block main %}

	<article class="page">
		
		<header class="page__leaderboard">
			{% include 'includes/leaderboard-static.twig' with {
				'title': 'Maintenance',
				'thumbnail_id': 133
			} %}
		</header>

		<div class="page__box page__box--small page__intro">
			<div class="title">Whoops! It seems we're still working things out for Ted &amp; Tone.</div>
			<hr class="page__ruler"/>
		</div>


		<div class="page__main">
			<div class="page__box page__box--small">
				<div class="page__content">
					<div class="page__text page__text--no-columns page__text--center">
						<p>No worries, it won't take long. Stay tuned and check again later! </p>
					</div>
				</div>
			</div>
		</div>

	</article>

{% endblock %}