{% extends "layouts/site.twig" %}

{% block main %}
	<article class="page">
		<div class="page__main">
			<div class="page__box page__box--full-width">
				<div class="page__content">
					<div class="page__text page__text--no-columns">
						<div class="checkout">
							<h1 class="checkout__title title title--big">Checkout</h1>
							<div class="checkout__content">
								{{post.content}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
{% endblock %}