{% extends "layouts/site.twig" %}

{% block main %}

	<article class="page">
		
		<header class="page__leaderboard">
			{% include 'includes/leaderboard.twig' with {'post': post, 'title_tag': 'h1'} %}
		</header>

		{% if intro %}
			<div class="page__box page__box--small page__intro">
				<div class="title">{{intro}}</div>
				<hr class="page__ruler"/>
			</div>
		{% endif %}

		<div class="page__main">

			<div class="page__box page__box--small">

				<div class="page__content">

					{% if post.sidebar %}
						<aside class="page__sidebar">
							{{post.sidebar|shortcodes}}
						</aside>
					{% endif %}

					<div class="page__text">
						{{post.content}}
					</div>

				</div>

			</div>

		</div>

	</article>

{% endblock %}