{% extends "layouts/site.twig" %}

{% block main %}

	<div class="page">

		<header class="page__leaderboard">
			{% include 'includes/leaderboard.twig' with {'post': post, 'title_tag': 'h1'} %}
		</header>

		{% if intro %}
			<div class="page__intro page__box page__box--small">
				<div class="title">{{intro}}</div>
				<hr class="page__ruler"/>
			</div>
		{% endif %}

		<div class="page__main">
			
			{% if post.content %}
				<div class="page__box page__box--small">

					<div class="page__content">

						{% if post.sidebar %}
							<aside class="page__sidebar">
								{{post.sidebar|shortcodes}}
							</aside>
						{% endif %}

						<div class="page__text">
							{{post.content}}
						</div>

					</div>

					<hr class="page__ruler"/>

				</div>
			{% endif %}

			{% if categories %}
				<div class="page__box">
					{% include 'includes/categories.twig' with {'categories': categories, 'modifiers': 'page__categories' } %}	
				</div>

			{% endif %}
			
		</div>


	</div>

{% endblock %}