{% extends "layouts/site.twig" %}

{% block main %}

	<article class="page">
		
		<header class="page__leaderboard">
			{% include 'includes/leaderboard.twig' with {'post': post, 'title_tag': 'h1'} %}
		</header>

		{% if intro %}
			<div class="page__intro">
				<div class="title">{{intro}}</div>
			</div>
		{% endif %}

		<div class="page__container">

			{% if post.sidebar %}
				<aside class="page__sidebar">
					{{post.sidebar|shortcodes}}
				</aside>
			{% endif %}

			<div class="page__content">
				{{post.content}}
			</div>

		</div>

	</article>

{% endblock %}