*,
*:after,
*:before {
    box-sizing: border-box;
}
html,
body{
	overflow-x: hidden;
}
html {
	/* Set the base font size for rem sizes */
	font-size: 10px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;

 	font-size: 13px;
 	font-size: 1.3rem;

 	line-height: 18.799px;
 	line-height: 1.88rem;
 	font-family: Georgia, Times, "Times New Roman", serif;
 	font-style: italic
}
@media (min-width: 414px) {
    body {
        font-size: 1.4rem;
    }
 	}
.categories{
}
@media (min-width: 768px) {
    .categories {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
	}
.categories__link{
	color: inherit;
	text-align: center;
	text-decoration: none;	
	margin-right: 30px;	
	margin-right: 3rem;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	-ms-flex-negative: 0;
	    flex-shrink: 0
}
.categories__link:first-child:nth-last-child(2),
	.categories__link:first-child:nth-last-child(2) ~ .categories__link {
    -ms-flex-preferred-size: calc(50% - 3rem);
        flex-basis: calc(50% - 3rem);
}
.categories__link:first-child:nth-last-child(3),
	.categories__link:first-child:nth-last-child(3) ~ .categories__link {
    -ms-flex-preferred-size: calc(33% - 3rem);
        flex-basis: calc(33% - 3rem);
}
@media (min-width: 768px) {
    .categories__link {
        -ms-flex-preferred-size: calc(33% - 3rem);
            flex-basis: calc(33% - 3rem);
    }
	}
@media (min-width: 1024px) {
    .categories__link {
        -ms-flex-preferred-size: calc(25% - 3rem);
            flex-basis: calc(25% - 3rem);
    }

	}
.categories__image{
	max-width: 100%;
}
.categories__info{
	margin-top: 30px;
	margin-top: 3rem;
}
.categories__caption{
	color: #C66F03;
}
.categories__title{

}
.footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column
}
@media (min-width: 768px) {
    .footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .footer:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        right: -100%;
        background: #000000;
        height: 3rem;
        z-index: -1;
    }
 	}
.footer__menu{
	margin-bottom: 10px;
	margin-bottom: 1rem;
	padding: 0 :;
	padding: 0 20px;
	padding: 0 2rem;
	position: relative
}
.footer__menu:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -:;
    left: -20px;
    left: -2rem;
    right: -:;
    right: -20px;
    right: -2rem;
    background: #000000;
    height: 30px;
    height: 3rem;
    z-index: -1;
}
@media (min-width: 768px) {
    .footer__menu {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .footer__menu:before {
        display: none;
    }
	}
.footer__menu-list{
	margin: .5em 0;
	padding: 0;
	list-style: none;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}
.footer__menu-item{
	line-height: 23px;
	line-height: 2.3rem;
}
.footer__menu-sub-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer__title{

	color: white;
}
.footer__title,
	.footer__title.title {
    line-height: 30px;
    line-height: 3rem;
}
/* http://codepen.io/anon/pen/yMBOWg */
.hamburger{
}
.hamburger span {
    display: block;
    width: 2.5em;
    height: .25em;
    margin-bottom: .5em;
    position: relative;
    background: currentColor;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            opacity 0.55s ease,
		            -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            opacity 0.55s ease,
		            -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            opacity 0.55s ease,
		            -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.hamburger span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
}
.hamburger span:last-child {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    margin-bottom: 0;
}
input:checked  ~ .menu__label > .menu__hamburger > span{
	opacity: 1;
  	-webkit-transform: rotate(45deg) translate(0, -.2em);
  	        transform: rotate(45deg) translate(0, -.2em)

}
input:checked  ~ .menu__label > .menu__hamburger > span:nth-child(2) {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
input:checked  ~ .menu__label > .menu__hamburger > span:nth-child(3) {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(0, .25em);
            transform: rotate(-45deg) translate(0, .25em);
}
.header{
	position: relative;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 30px;
	height: 3rem
}
.header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    background: #000000;
    height: 30px;
    height: 3rem;
    z-index: -1;
}
.header__menu-title{
}
.header__menu-title,
	.header__menu-title.title {
    line-height: 30px;
    line-height: 3rem;
}
.header__bag{
	position: relative;
	right: 20px;
	right: 2rem
}
.header__bag,
	.header__bag.link {
}
.header__bag:after, .header__bag.link:after {
    top: 85%;
}
.label{
	text-transform: uppercase;
	background-color: #C66F03;
	color: white;
	padding: .25em .75em;
	margin: 0 1em;
	border-radius: .25em;
	font-size: 85%;
	vertical-align: middle
}
.label--sale {
    margin-left: 0;
}
.leaderboard{
  	position: relative
}
.leaderboard:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 90%;
}
@media (min-width: 768px) {
    .leaderboard {
}
    .leaderboard:before {
        padding-top: 46.875%;
    }
	}
.leaderboard__image{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.leaderboard__info{
	position: absolute;
	right: 20px;
	right: 2rem;
	bottom: 20px;
	bottom: 2rem;
	background: white;
	padding: 20px 60px;
	padding: 2rem 6rem;
	text-align: center
}
@media (min-width: 768px) {
    .leaderboard__info {
        padding: 2.5rem 7.5rem;
    }
	}
.leaderboard--info-left .leaderboard__info{
	left: 20px;
	left: 2rem;
	right: auto;
}
.leaderboard__sub-title{
	color: #C66F03;
}
.leaderboard__title{

}
.leaderboard__caption{

}
.link{
	position: relative;
	color: inherit;
	text-decoration: none
}
.link:after {
    content: '';
    display: block;
    position: absolute;
    top: 105%;
    left: -1%;
    right: 1%;
    width: 0%;
    border-bottom: 1px dotted currentColor;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
.link:hover {
}
.link:hover:after {
    width: 100%;
}
.main{
	min-height: 10em;
}
.menu{

}
.menu__title{
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	padding: 0 20px;
	padding: 0 2rem;
	display: none
}
@media (min-width: 414px) {
    .menu__title {
        display: inline-block;
    }
	}
.menu__hamburger{
	font-size: .75em;
	left: 20px;
	left: 2rem;
	position: relative;
	display: inline-block;
	vertical-align: middle
}
@media (min-width: 414px) {
    .menu__hamburger {
        display: none;
    }
	}
.menu__toggle{
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  position: fixed;s
  top: -1;
  left: -1;
  -webkit-touch-callout: none;
}
.menu__label{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.menu__list{
	background: #000000;
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
	z-index: 1;

	position: absolute;
	width: 100%;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;  
	-webkit-transform-origin: 0% 0%;  
	        transform-origin: 0% 0%;
	-webkit-transform: translate(-100%, 0);
	        transform: translate(-100%, 0);
	-webkit-transition: all 0.35s cubic-bezier(0.77,0.2,0.05,1.0);
	transition: all 0.35s cubic-bezier(0.77,0.2,0.05,1.0)
}
@media (min-width: 414px) {
    .menu__list {
        -webkit-transform: none;
                transform: none;
        width: auto;
        max-height: 0;
        overflow: hidden;
    }
	}
.menu__toggle:checked ~ .menu__list{
	-webkit-transform: scale(1.0, 1.0);
	        transform: scale(1.0, 1.0)
}
@media (min-width: 414px) {
    .menu__toggle:checked ~ .menu__list {
        -webkit-transform: none;
                transform: none;
        max-height: 35em;
    }
	}
body:not(.body--mobile) .header__menu:hover  .menu__list{
	-webkit-transform: none;
	        transform: none;
	max-height: 35em
}
.menu__item{
	padding: 0 20px;
	padding: 0 2rem;
	line-height: 1
}
.menu__item:first-child {
    margin-top: 10px;
    margin-top: 1rem;
}
.menu__item:last-child {
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}
.menu__link{

}
.page{
	padding: 20px 0;
	padding: 2rem 0
}
@media (min-width: 768px) {
    .page {
        padding-bottom: 4rem;
    }
	}
@media (min-width: 1024px) {
    .page {
        padding-bottom: 8rem;
    }
	}
@media (min-width: 1440px) {
    .page {
        padding-bottom: 12rem;
    }
	}
.page__leaderboard{
	display: block;
  	color: inherit;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.page__intro{
	margin: 30px 20px;
	margin: 3rem 2rem;
	text-align: center
}
.page__intro .title {
    line-height: 2.25;
}
.page__main{
	margin-top: 40px;
	margin-top: 4rem;
}
.page__quote{
	margin: 50px 20px;
	margin: 5rem 2rem;

	margin-top: 50px;
	margin-top: 5rem;
	margin-bottom: 50px;
	margin-bottom: 5rem
}
@media (min-width: 768px) {
    .page__quote {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
    }
	}
.page__box{
	margin-left: 20px;
	margin-left: 2rem;
	margin-right: 20px;
	margin-right: 2rem
}
@media (min-width: 768px) {
    .page__box {
        margin-left: 4rem;
        margin-right: 4rem;
    }
	}
.page__box--small {
}
@media (min-width: 1024px) {
    .page__box--small {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
.page__content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column
}
@media (min-width: 768px) {
    .page__content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
	}
.page__sidebar{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1
}
@media (min-width: 768px) {
    .page__sidebar {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        margin-right: 3rem;
    }
	}
@media (min-width: 1024px) {
    .page__sidebar {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
	}
.page__text{
	-webkit-box-flex: 3;
	    -ms-flex: 3;
	        flex: 3
}
.page__text p {
    margin-bottom: 2em;
}
.page__text p:first-child {
    margin-top: 0;
}
@media (min-width: 768px) {
    .page__text {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
        -webkit-column-break-inside: avoid;
           page-break-inside: avoid;
                break-inside: avoid;
    }
	}
@media (min-width: 1024px) {
    .page__text {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
	}
.page__sidebar + .page__text{
}
@media (min-width: 768px) {
    .page__sidebar + .page__text {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    }
	}
@media (min-width: 1024px) {
    .page__sidebar + .page__text {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }
	}
.page__categories{
	margin-top: 50px;
	margin-top: 5rem;
}
.page__box + .page__categories{
	margin-top: 60px;
	margin-top: 6rem;
}
.page__ruler{
	border: none;
	border-bottom: thin solid #808080;
	margin: 40px 0;
	margin: 4rem 0;
}
.page__pagination{
	text-align: center;
	margin: 40px 0;
	margin: 4rem 0;
}
.pagination{
/*	@apply --font-size-large;*/
	font-style: normal;
}
.pagination__prev,
.pagination__next,
.pagination__list,
.pagination__item{
	display: inline-block;
	color: inherit;
}
.pagination__prev,
.pagination__next{
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: 85%;
	margin: 0 1em
}
.pagination__prev.invisible, .pagination__next.invisible {
    display: none;
}
.pagination__icon{
	margin: 0 .5em;
}
.pagination__list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.pagination__item{
	margin: 0 .25em;
}
.pagination__link{
	color: inherit;
	text-decoration: none
}
.pagination__link:after {
    content: '';
    display: block;
    padding-top: .1em;
    border-bottom: thin solid currentColor;
}
.pagination__current{
	color: #C66F03;
}
.products{
}
@media (min-width: 768px) {
    .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
	}
.products__link{
	color: inherit;
	text-align: center;
	text-decoration: none;	
	margin-right: 30px;	
	margin-right: 3rem;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	-ms-flex-negative: 0;
	    flex-shrink: 0
}
.products__link:first-child:nth-last-child(2),
	.products__link:first-child:nth-last-child(2) ~ .products__link {
    -ms-flex-preferred-size: calc(50% - 3rem);
        flex-basis: calc(50% - 3rem);
}
.products__link:first-child:nth-last-child(3),
	.products__link:first-child:nth-last-child(3) ~ .products__link {
    -ms-flex-preferred-size: calc(33% - 3rem);
        flex-basis: calc(33% - 3rem);
}
@media (min-width: 768px) {
    .products__link {
        -ms-flex-preferred-size: calc(33% - 3rem);
            flex-basis: calc(33% - 3rem);
    }
	}
@media (min-width: 1024px) {
    .products__link {
        -ms-flex-preferred-size: calc(25% - 3rem);
            flex-basis: calc(25% - 3rem);
    }

	}
.products__image{
	max-width: 100%;
}
.products__info{
	margin-top: 30px;
	margin-top: 3rem;
}
.products__title{

}
.products__price{
	color: #C66F03
}
.products__price del,
	.products__price ins {
    display: inline-block;
}
.products__price del {
}
.products__price ins {
    text-decoration: none;
    font-size: 125%;
}
.quote{
	text-align: center;
}
.quote__title{
	quotes: "“" "”" "‘" "’"
}
.quote__title:before {
    content: open-quote;
}
.quote__title:after {
    content: close-quote;
}
.quote__source{
	display: inline-block;
	border-top: 2px solid #F0DBC2;
	margin-top: 20px;
	margin-top: 2rem;
	padding-top: 20px;
	padding-top: 2rem;
	padding-left: 20px;
	padding-left: 2rem;
	padding-right: 20px;
	padding-right: 2rem;

	font-family: Georgia, Times, "Times New Roman", serif;

	font-weight: 700;

	font-style: italic;
	font-size: 14px;
	font-size: 1.4rem;
}
/* Overrides on the woocommerce styles */
.shop{
	width: 100%
	
}
.shop--product {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.site{
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 60px;
	padding-top: 6rem
}
@media (min-width: 768px) {
    .site {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 100vh;
        padding-top: 8rem;
    }
	}
.site__header{

}
.site__main{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.site__footer{
	
}
.title{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	text-transform: uppercase;
	margin: .1em 0;
	letter-spacing: .1em;

	font-size: 14px;
	font-size: 1.4rem;

	line-height: 23px;
	line-height: 2.3rem
}
.title--small {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 20px;
    line-height: 2rem;
}
.title--big {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 30px;
    line-height: 3rem;
}
@media (min-width: 768px) {
    .title {
        margin: .25em 0;
        font-size: 1.4rem;
        line-height: 2.3rem;
    }
    .title--small {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .title--big {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.9rem;
        line-height: 3rem;
    }
	}
/* Overrides on the woocommerce styles */
.woocommerce{

}
.woocommerce .product {
    overflow: hidden;
}
.woocommerce .product_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 30px;
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-bottom: 2rem;
}
.woocommerce th,
	.woocommerce h2,
	.woocommerce h3,
	.woocommerce h4,
	.woocommerce .title,
	.woocommerce .quantity:before {
    color: #C66F03;
    text-transform: uppercase;
    font-weight: normal;
    font-size: inherit;
    padding: 0;
    margin: 0 0 2.5px;
    margin: 0 0 .25rem;
}
.woocommerce p {
    margin: 0 0 20px 0;
    margin: 0 0 2rem 0;
    font-style: normal;
}
.woocommerce ins {
    text-decoration: none;
    vertical-align: middle;
    margin: 0 .1em;
}
.woocommerce del {
    vertical-align: middle;
    opacity: .65;
}
.woocommerce .images {
}
.woocommerce .images .woocommerce-main-image {
}
.woocommerce .images .woocommerce-main-image img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.woocommerce .images .thumbnails {
    margin-top: 40px;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
}
.woocommerce .images .thumbnails a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    display: inline-block;
    margin-right: 1em;
    max-width: 33%;
}
.woocommerce .images .thumbnails a:last-child {
    margin-right: 0;
}
.woocommerce .images .thumbnails a img {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .woocommerce .images {
        float: left;
        padding-right: 4rem;
        max-width: 50%;
    }
}
.woocommerce .summary {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
.woocommerce .shop_attributes {
}
.woocommerce .shop_attributes th,
		.woocommerce .shop_attributes td {
    display: block;
    text-align: left;
}
.woocommerce .quantity {
}
.woocommerce .quantity:before {
    content: 'Amount';
    display: block;
    margin-bottom: 5px !important;
    margin-bottom: .5rem !important;
}
.woocommerce .quantity input {
    width: 5em;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    padding: .5em .75em;
}
.woocommerce .add_to_cart_button,
	.woocommerce .single_add_to_cart_button,
	.woocommerce .added_to_cart {
    border: none;
    background-color: #231F20;
    color: white;
    text-transform: uppercase;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    margin-top: 10px;
    margin-top: 1rem;
    -webkit-transition: background-color ease .25s;
    transition: background-color ease .25s;
    text-decoration: none;
}
.woocommerce .add_to_cart_button:hover, .woocommerce .single_add_to_cart_button:hover, .woocommerce .added_to_cart:hover {
    background-color: #C66F03;
}
.woocommerce .upsells {
    margin-top: 40px;
    margin-top: 4rem;
}
.woocommerce .upsells:before {
    content: '';
    display: block;
    border-top: thin solid #231F20;
    margin: 60px auto 40px;
    margin: 6rem auto 4rem;
}
.woocommerce .upsells h2 {
    color: inherit;
}
.woocommerce .upsells .products {
    padding: 0;
}
@media (min-width: 768px) {
    .woocommerce .upsells .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.woocommerce .upsells .products li {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    position: relative;
}
@media (min-width: 768px) {
    .woocommerce .upsells .products li {
        margin-right: 2rem;
        margin-bottom: 0;
        max-width: 20%;
    }
}
.woocommerce .upsells .products li .woocommerce-LoopProduct-link {
    display: block;
}
.woocommerce .upsells .products li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}
.woocommerce .upsells .products li .woocommerce-LoopProduct-link {
    text-decoration: none;
    color: inherit;
}
.woocommerce .upsells .products li .add_to_cart_button,
				.woocommerce .upsells .products li .added_to_cart {
    position: absolute;
    top: 10px;
    top: 1rem;
    left: 10px;
    left: 1rem;
    font-size: 80%;
    margin-top: 0;
    opacity: 0;
    -webkit-transition: opacity ease .25s;
    transition: opacity ease .25s;
}
.woocommerce .upsells .products li .added_to_cart {
    opacity: 1;
    z-index: 1;
}
.woocommerce .upsells .products li .price {
    color: #C66F03;
}
.woocommerce .upsells .products li .price .title {
    display: none;
}
.woocommerce .upsells .products li h3 {
    color: inherit;
}
.woocommerce .upsells .products li:hover {
}
.woocommerce .upsells .products li:hover .add_to_cart_button {
    opacity: 1;
}
.wp-caption{
	width: 100% !important
}
.wp-caption img {
    width: 100% !important;
    height: auto !important;
}
.wp-caption-text{
	text-align: center;
}